<nav id="navTop">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">
      <font class="logo">Mind Journey&nbsp;</font>
      <font class="logo logoLighter">智慧教育云平台</font>
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <font class="pull-right white-text">{{userName}}</font>
      </li>
      <li>
          <img src="components/common/images/avator.jpg" class="circle responsive-img button-collapse avator" data-activates="slide-out">
      </li>
    </ul>
  </div>
</nav>



