<div id="path">
  <div class="title logo pull-left">
    <font>章节定义</font>
  </div>
  <div class="component ">
    <a role="button" class="btn btn-default toolbar pull-right" data-ui-sref="chapterDefi" data-ui-sref-active="active"><i class="fa fa-hand-o-left"></i></a>
    <ol class="breadcrumb component pull-right">
      <li><a class="text">教学资源</a></li>
      <li><a class="text">科目管理</a></li>
      <li><a class="active text">章节定义</a></li>
    </ol>
  </div>
</div>
<div id="main">
  <div class="back">
    <div id="tool">
      <div id="operate" class="subtitle form-group">
        <button class="btn btn-primary">修改
          <i class="fa fa-pencil"></i></button>
        <button class="btn btn-primary">删除
          <i class="fa fa-eraser"></i></button>
      </div>
    </div>
    <p>这里到时候是一些静态文件或者文件的下载地址以供查看课程具体信息，暂且不做设计。</p>
  </div>
</div>
