<div id="path">
  <div class="title logo pull-left">
    <font>知识点定义</font>
  </div>
  <div class="component ">
    <ol class="breadcrumb component pull-right">
      <li><a class="text">教学资源</a></li>
      <li><a class="text">科目管理</a></li>
      <li><a class="active text">知识点定义</a></li>
    </ol>
  </div>
</div>
<div id="main">
  <form id="search" class="back">
    <button class="btn btn-primary" id="searchBtn" ng-click="search(searchContent)">查找
      <i class="fa fa-search"></i></button>
    <input type="text" id="searchContent" ng-model="searchContent"/>
  </form>
  <div class="back">
    <div id="tool">
      <div id="operate" class="subtitle input-field">
        <button class=" btn btn-primary" ng-click="modify()">修改
          <i class="fa fa-pencil"></i></button>
        <button class=" btn btn-primary modal-trigger" data-target="add">增加
          <i class="fa fa-gavel"></i></button>
        <button class=" btn btn-primary" ng-click="delete()">删除
          <i class="fa fa-eraser"></i></button>
        <button class="w btn btn-primary right" ng-click="refresh()">
          <i class="fa fa-refresh"></i>
        </button>
      </div>
    </div>
    <table id="info" class="bordered highlight hoverable centered">
      <thead>
      <tr>
        <th class="forCheckbox">
          <input class="states" type="checkbox" id="cboxchecked" ng-click="checkAll()"/>
          <label for="cboxchecked"></label>
        </th>
        <th>知识点编码</th>
        <th>知识点名称</th>
        <th>组织编码</th>
        <th>备注</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="point in points " ng-click="checkTr($event, this)">
        <td class="forCheckbox">
          <input type="checkbox" id="{{point._id}}" name="isSelected" value="{{point}}"
                 ng-checked="Checked(point._id)" ng-click="Check($event, point._id)"/>
          <label for="{{point._id}}"></label>
        </td>
        <td>{{ point.pointCode || "空" }}</td>
        <td>
          <a editable-text="point.pointName">{{ point.pointName || "空" }}</a>
        </td>
        <td>
          <!--<a editable-text="point.idGroup">{{ point.idGroup.groupName || "空" }}</a>-->
          <a editable-select="user.idGroup" e-ng-options="group._id as group.groupName for group in groups">
            {{ point.idGroup.groupName || "空" }}
          </a>
        </td>
        <td>
          <a editable-text="point.memo">{{ point.memo || "空" }}</a>
        </td>
        <td>

        </td>
      </tr>
      </tbody>
    </table>
    <div class="loading">
      <pac-man></pac-man>
    </div>
    <ul class="pagination">
      <!--<li><a ng-click="loadAllData()"><span class="paginationText">首页</span></a></li>-->
      <li ng-repeat="page in pages" ng-class="c[$index] == true? 'active' : ''"><a ng-click="paginating(page)">{{page}}</a>
      </li>
      <span class="paginationText">当前是第{{index}}页</span>
    </ul>
  </div>
</div>
<!---->
<div id="add" class="modal modal-fixed-footer" tabindex="-1" role="dialog" aria-labelledby="新建知识点" aria-hidden="true">
  <div class="modal-content row">
    <h4>新建知识点</h4>
    <form id="formAdd" class="row" role="form">
      <div class="input-field col s12">
        <input type="text" class="validate" id="pointName" name="pointName"
               ng-model="add.pointName" />
        <label for="pointName">知识点名称</label>
      </div>
      <div class="input-field col s12">
        <select class="form-control" ng-model="add.idGroup" ng-options="group._id as group.groupName for group in groups">
        <option value="" disabled selected>所属学校</option>
        <!--<option value="{{subject._id}}">{{subject.subjectName}}</option>-->
        </select>
        <br />
        <!--<input type="text" class="validate" id="idGroup" name="idGroup"-->
               <!--ng-model="add.idGroup" />-->
        <!--<label for="idGroup">组织编码</label>-->
      </div>
      <div class="input-field col s12">
                <textarea class="materialize-textarea" rows="2" id="memo" name="memo"
                          ng-model="add.memo"></textarea>
        <label for="memo">备注</label>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="modal-action waves-effect waves-green btn-flat" ng-click="create(add)">新建</button>
    <button class="modal-action waves-effect waves-green btn-flat" ng-click="add = null">重置</button>
    <button class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="add = null">取消</button>
  </div>
</div>
<!--<div id="main">-->
  <!--<form id="search" class="back form-horizontal">-->
    <!--<button class="btn btn-primary pull-left" id="searchBtn">查找-->
      <!--<i class="fa fa-search"></i></button>-->
    <!--<input type="text" class="form-control" id="searchContent" />-->
  <!--</form>-->
  <!--<div class="back">-->
    <!--<div id="tool">-->
      <!--<div id="operate" class="subtitle form-group">-->
        <!--<button class="btn btn-primary" ng-click="modify()">修改-->
          <!--<i class="fa fa-pencil"></i></button>-->
        <!--<button class="waves-effect waves-light btn btn-primary modal-trigger" data-target="add">增加-->
          <!--<i class="fa fa-gavel"></i></button>-->
        <!--<button class="waves-effect waves-light btn btn-primary" ng-click="delete()">删除-->
          <!--<i class="fa fa-eraser"></i></button>-->
      <!--</div>-->
    <!--</div>-->
    <!--<table id="info" class="bordered striped hoverable centered">-->
      <!--<thead>-->
      <!--<tr>-->
        <!--<th>知识点名称</th>-->
        <!--<th>组织编码</th>-->
        <!--<th>备注</th>-->
        <!--&lt;!&ndash;<th>修改时间</th>&ndash;&gt;-->
        <!--&lt;!&ndash;<th>&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="dropdown">&ndash;&gt;-->
            <!--&lt;!&ndash;<a class="btn btn-default" class="dropdown-toggle" data-toggle="dropdown">请选择查看类型</a>&ndash;&gt;-->
            <!--&lt;!&ndash;<ul id="type" class="dropdown-menu">&ndash;&gt;-->
              <!--&lt;!&ndash;<li><a>章节</a></li>&ndash;&gt;-->
              <!--&lt;!&ndash;<li><a>知识点</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;</ul>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</th>&ndash;&gt;-->
      <!--</tr>-->
      <!--</thead>-->
      <!--<tbody>-->
      <!--<tr ng-repeat="point in points" ng-class="{true:'active', false:''}[isSelected]" ng-click="trSelected(an.index)" >-->
        <!--<td ng-bind="point.pointCode"></td>-->
        <!--<td ng-bind="point.pointName"></td>-->
        <!--<td ng-bind="point.idGroup"></td>-->
        <!--<td ng-bind="point.memo"></td>-->
        <!--&lt;!&ndash;<td ng-bind="subject.announcementContent">&ndash;&gt;-->
        <!--&lt;!&ndash;<a role="button" class="btn btn-primary" data-ui-sref="subjectInfo" data-ui-sref-active="active">查看</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</td>&ndash;&gt;-->
      <!--</tr>-->
      <!--</tbody>-->
    <!--</table>-->
  <!--</div>-->
<!--</div>-->
<!--<div id="add" class="modal modal-fixed-footer" tabindex="-1" role="dialog" aria-labelledby="新建科目" aria-hidden="true">-->
  <!--<div class="modal-content row">-->
    <!--<h4>新建知识点</h4>-->
    <!--<form id="formAdd" class="row" role="form">-->
      <!--<div class="input-field col s12">-->
        <!--<input type="text" class="validate" id="pointName" name="pointName"-->
               <!--ng-model="pointName" />-->
        <!--<label for="pointName">知识点名称</label>-->
      <!--</div>-->
      <!--&lt;!&ndash;<div class="input-field col s12">&ndash;&gt;-->
      <!--&lt;!&ndash;<input type="text" class="validate" id="anSummary" name="anSummary"&ndash;&gt;-->
      <!--&lt;!&ndash;ng-model="announce.description" />&ndash;&gt;-->
      <!--&lt;!&ndash;<label for="anSummary">章节数目</label>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="input-field col s12">&ndash;&gt;-->
      <!--&lt;!&ndash;<input type="text" class="validate" id="anSummary" name="anSummary"&ndash;&gt;-->
      <!--&lt;!&ndash;ng-model="announce.description" />&ndash;&gt;-->
      <!--&lt;!&ndash;<label for="anSummary">知识点数目</label>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="input-field col s12">&ndash;&gt;-->
      <!--&lt;!&ndash;<input type="text" class="validate" id="anSummary" name="anSummary"&ndash;&gt;-->
      <!--&lt;!&ndash;ng-model="announce.description" />&ndash;&gt;-->
      <!--&lt;!&ndash;<label for="anSummary">修改时间</label>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--<div class="input-field col s12">-->
                <!--<textarea class="materialize-textarea" rows="2" id="memo" name="memo"-->
                          <!--ng-model="memo"></textarea>-->
        <!--<label for="memo">备注</label>-->
      <!--</div>-->
    <!--</form>-->
  <!--</div>-->
  <!--<div class="modal-footer">-->
    <!--<button class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="create(pointName, memo)">新建</button>-->
    <!--<button class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="reset()">重置</button>-->
    <!--<button class="modal-action modal-close waves-effect waves-green btn-flat">取消</button>-->
  <!--</div>-->
<!--</div>-->

