<div id="path">
    <div class="title logo pull-left">
        <font>试卷管理</font>
    </div>
    <div class="component ">
        <ol class="breadcrumb component pull-right">
            <li><a class="text">教学资源</a></li>
            <li><a class="active text">试卷管理</a></li>
        </ol>
    </div>
</div>

<div id="main">
    <form id="search" class="back">
        <button class="btn btn-primary" id="searchBtn" ng-click="search(searchContent)">查找
            <i class="fa fa-search"></i></button>
        <input type="text" id="searchContent" ng-model="searchContent"/>
    </form>
    <div class="back">
        <table id="info" class="bordered highlight hoverable centered">
            <thead>
            <tr>
                <th>考试编码</th>
                <th>考试简述</th>
                <th>组织编码</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>备注</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="exam in exams">
                <td>{{ exam.examCode || "空" }}</td>
                <td>
                    {{ exam.examName || "空" }}
                </td>
                <td>
                    {{ exam.idGroup.groupName || "空" }}
                </td>
                <td>
                    {{ exam.startTime || "空" | date:"yyyy-MM-dd HH:mm" }}
                </td>
                <td>
                    {{ exam.endTime || "空" | date:"yyyy-MM-dd HH:mm" }}
                </td>
                <td>
                    {{ exam.memo || "空" }}
                </td>
                <td>
                    <button class="btn btn-primary" ng-click="transfer(exam)" >查看内容</button>
                    <button class="btn btn-primary" ng-click="correct(exam)" >试卷</button>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="loading">
            <pac-man></pac-man>
        </div>
        <ul class="pagination">
            <!--<li><a ng-click="loadAllData()"><span class="paginationText">首页</span></a></li>-->
            <li ng-repeat="page in pages" ng-class="c[$index] == true? 'active' : ''"><a ng-click="paginating(page)">{{page}}</a>
            </li>
            <span class="paginationText">当前是第{{index}}页</span>
        </ul>
    </div>
</div>