<div id="path">
  <div class="title logo pull-left">
    <font>课堂练习管理</font>
  </div>
  <div class="component">
    <ol class="breadcrumb component pull-right">
      <li><a class="text">教学资源</a></li>
      <li><a class="active text">课堂练习管理</a></li>
    </ol>
  </div>
</div>

<div id="main">
  <form id="search" class="back">
    <button class="btn btn-primary" id="searchBtn" ng-click="search(searchContent)">查找
      <i class="fa fa-search"></i></button>
    <input type="text" id="searchContent" ng-model="searchContent"/>
  </form>
  <div class="back">
    <div id="tool">
      <div id="operate" class="subtitle input-field">
        <button class="btn btn-primary" ng-click="modify()">修改
          <i class="fa fa-pencil"></i></button>
        <button class="btn btn-primary" data-ui-sref="index.classOnCreate" data-ui-sref-active="active" >增加
          <i class="fa fa-gavel"></i></button>
        <button class="btn btn-primary" ng-click="delete()">删除
          <i class="fa fa-eraser"></i></button>
        <button class="btn btn-primary right" ng-click="refresh()">
          <i class="fa fa-refresh"></i>
        </button>
      </div>
    </div>
    <table id="info" class="bordered highlight hoverable centered">
      <thead>
      <tr>
        <th class="forCheckbox">
          <input class="states" type="checkbox" id="cboxchecked" ng-click="checkAll()"/>
          <label for="cboxchecked"></label>
        </th>
        <th>课堂练习编码</th>
        <th>课堂练习简述</th>
        <th>组织编码</th>
        <th>备注</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="classOn in classOns" ng-click="checkTr($event, this)">
        <td class="forCheckbox">
          <input type="checkbox" id="{{classOn._id}}" name="isSelected" value="{{classOn}}"
                 ng-checked="Checked(classOn._id)" ng-click="Check($event, classOn._id)"/>
          <label for="{{classOn._id}}"></label>
        </td>
        <td>{{ classOn.keZhongCode || "空" }}</td>
        <td>
          <a editable-text="classOn.keZhongName">{{ classOn.keZhongName || "空" }}</a>
        </td>
        <td>
          <!--<a editable-text="classOn.idGroup">{{ classOn.idGroup.groupName || "空" }}</a>-->
          <a editable-select="classOn.idGroup" e-ng-options="group.groupName for group in groups">
            {{ classOn.idGroup.groupName || "空" }}
          </a>
        </td>
        <td>
          <a editable-text="classOn.memo">{{ classOn.memo || "空" }}</a>
        </td>
        <td>
          <button class="btn btn-primary" ng-click="transfer(classOn)" >查看内容</button>
          <button class="btn btn-primary" ng-click="correct(classOn)" >作业</button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="loading">
      <pac-man></pac-man>
    </div>
    <ul class="pagination">
      <!--<li><a ng-click="loadAllData()"><span class="paginationText">首页</span></a></li>-->
      <li ng-repeat="page in pages" ng-class="c[$index] == true? 'active' : ''"><a ng-click="paginating(page)">{{page}}</a>
      </li>
      <span class="paginationText">当前是第{{index}}页</span>
    </ul>
  </div>
</div>
<!---->

