<div id="path">
    <div class="title logo pull-left">
        <font>新建练习</font>
    </div>
    <div class="component ">
        <button class="btn toolbar pull-right" data-ui-sref="index.practiceManage" data-ui-sref-active="active"><i
                class="fa fa-angle-left"></i></button>
        <ol class="breadcrumb component pull-right">
            <li><a class="text">教学资源</a></li>
            <li><a class="text">练习管理</a></li>
            <li><a class="active text">新建练习</a></li>
        </ol>
    </div>
</div>

<div id="main">
    <form id="search" class="back">
        <button class="btn btn-primary" id="searchBtn" ng-click="search(searchContent)">查找
            <i class="fa fa-search"></i></button>
        <input type="text" id="searchContent" ng-model="searchContent"/>
    </form>
    <div class="back">
        <form id="formAdd" class="row" role="form">
            <div class="input-field col s6">
                <input type="text" class="validate" id="practiceName" name="practiceName"
                       ng-model="add.practiceName"/>
                <label for="practiceName">练习名称</label>
            </div>
            <div class="input-field col s6">
                <input type="text" class="validate" id="practiceType" name="practiceType"
                       ng-model="add.practiceType"/>
                <label for="practiceType">练习类型</label>
            </div>
            <div class="input-field col s12">
        <textarea class="materialize-textarea" rows="2" id="memo" name="memo"
                  ng-model="add.memo"></textarea>
                <label for="memo">备注</label>
            </div>
            <div class="input-field col s12">
                <label>选择题目:</label>
                <button class="btn btn-info orange darken-4 pull-right" ng-click="create(add)">新建</button>
                <button class="btn btn-info orange darken-4 pull-right" ng-click="add = null;cancel()">取消</button>
                <br/><br/>
                <table id="info" class="bordered highlight hoverable centered">
                    <thead>
                    <tr>
                        <th class="forRadio">
                            <!--<input class="states" type="checkbox" id="cboxchecked"-->
                                   <!--ng-click="add.practiceList = [];checkAll()"/>-->
                            <!--<label for="cboxchecked"></label>-->
                        </th>
                        <th>所属科目</th>
                        <th>所属章节</th>
                        <th>所属知识点</th>
                        <th>所属年级</th>
                        <th>题型</th>
                        <th>困难度</th>
                        <th>备注</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="question in questions" ng-click="$parent.add.practiceList = [];checkTr($event, this)">
                        <td class="forRadio">
                            <input type="checkbox" id="{{question._id}}" name="isSelected" value="{{question}}"
                                   ng-checked="Checked(question._id)" ng-click="Check($event, question._id)"/>
                            <label for="{{question._id}}"></label>
                        </td>
                        <td>
                            {{ question.idSubject.subjectName || "空" }}
                        </td>
                        <td>
                            {{ question.idChapter.chapterName || "空" }}
                        </td>
                        <td>
                            {{ question.idPoint.pointName || "空" }}
                        </td>
                        <td>
                            {{ question.Grade || "空" }}
                        </td>
                        <td>
                            {{ question.idType.typeName || "空" }}
                        </td>
                        <td>
                            {{ question.difficulty || "空" }}
                        </td>
                        <td>
                            {{ question.memo || "空" }}
                        </td>
                        <td>
                            <a class="btn btn-primary" data-target="view"
                               ng-click="View(question)">查看</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="loading">
                    <pac-man></pac-man>
                </div>
                <ul class="pagination">
                    <li ng-repeat="page in pages" ng-class="c[$index] == true? 'active' : ''"><a
                            ng-click="paginating(page)">{{page}}</a>
                    </li>
                    <span class="paginationText">当前是第{{index}}页</span>
                </ul>
            </div>
        </form>
    </div>
</div>
<div id="view" class="modal modal-fixed-footer" tabindex="-1" role="dialog" aria-labelledby="查看题目" aria-hidden="true">
    <div class="modal-content row">
        <h4>查看题目</h4>
        <div class="input-field col s12">
            <label>问题正文</label><br /><br />
            <div ng-bind-html="view.questionContent || '空' | trustHtml"></div>
        </div>
        <div class="input-field col s12">
            <label>A选项</label><br /><br />
            {{ view.answerA || "空" }}
        </div>
        <div class="input-field col s12">
            <label>B选项</label><br /><br />
            {{ view.answerB || "空" }}
        </div>
        <div class="input-field col s12">
            <label>C选项</label><br /><br />
            {{ view.answerC || "空" }}
        </div>
        <div class="input-field col s12">
            <label>D选项</label><br /><br />
            {{ view.answerD || "空" }}
        </div>
        <div class="input-field col s12">
            <label>正确答案</label><br /><br />
            {{ view.trueAnswer || "空" }}
        </div>
        <div class="input-field col s12">
            <label>解析</label><br /><br />
            <div ng-bind-html="view.analysis || '空' | trustHtml"></div>
        </div>
        <!--</form>-->
    </div>
    <div class="modal-footer">
        <button class="modal-action modal-close waves-effect waves-green btn-flat">取消</button>
    </div>
</div>